<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.corporation.mapper.MemberPositionMapper" >
  <resultMap id="BaseResultMap" type="com.corporation.po.MemberPosition" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="corporationID" property="corporationID" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, corporationID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from memberposition
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from memberposition
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.corporation.po.MemberPosition" >
    insert into memberposition (id, name, corporationID
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{corporationID,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.corporation.po.MemberPosition" >
    insert into memberposition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="corporationID != null" >
        corporationID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="corporationID != null" >
        #{corporationID,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.corporation.po.MemberPosition" >
    update memberposition
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="corporationID != null" >
        corporationID = #{corporationID,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.corporation.po.MemberPosition" >
    update memberposition
    set name = #{name,jdbcType=VARCHAR},
      corporationID = #{corporationID,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 获取成员职位列表 -->
  <select id = "memberPositionList" resultType = "com.corporation.po.MemberPosition" parameterType="java.lang.Long">
  	select id , name , corporationID from memberPosition where corporationID = #{corporationID} 
  </select>
  
</mapper>